<aside class="w-60">
  <app-metric-item
    heading="Total members"
    value="4,862"
    change="9.2%"
    changeIconUrl="https://cdn.builder.io/api/v1/image/assets/TEMP/45cc3406d15f3cdf4ccbc939d7d7361f1beeda8f?placeholderIfAbsent=true&apiKey=dfcfffcc633040d682e227c261ee7914"
  ></app-metric-item>

  <div class="mt-5">
    <app-metric-item
      heading="Paid members"
      value="2,671"
      change="6.6%"
      changeIconUrl="https://cdn.builder.io/api/v1/image/assets/TEMP/79bb6abd5742662f75dda7c511573055542a5ebc?placeholderIfAbsent=true&apiKey=dfcfffcc633040d682e227c261ee7914"
    ></app-metric-item>
  </div>

  <div class="mt-5">
    <app-metric-item
      heading="Email open rate"
      value="82%"
      change="8.1%"
      changeIconUrl="https://cdn.builder.io/api/v1/image/assets/TEMP/2d8977700412a6189da763d76a355a9e45bab939?placeholderIfAbsent=true&apiKey=dfcfffcc633040d682e227c261ee7914"
    ></app-metric-item>
  </div>
</aside>
