<section class="gap-5 self-stretch">
  <header class="flex flex-wrap gap-4 w-full max-md:max-w-full">
    <h2 class="flex-1 shrink gap-1 text-lg font-semibold leading-loose basis-0 min-w-60 text-neutral-100 max-md:max-w-full">
      {{ title }}
    </h2>
    <button
      class="self-start w-5"
      aria-label="Toggle dropdown"
      (click)="toggleDropdown()"
    >
      <img
        [src]="dropdownIconUrl"
        class="object-contain w-5 aspect-square"
        alt="Dropdown icon"
      />
    </button>
  </header>
  <div class="flex mt-5 w-full bg-gray-800 fill-gray-800 min-h-px max-md:max-w-full"></div>
</section>
